@import 'tailwindcss';
@import './font.css';

::-webkit-scrollbar-track {
  -webkit-box-shadow: 0 0 0px rgba(0, 0, 0, 1);
  border-radius: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 8px;
  height: 5px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: 0 0 0px rgba(0, 0, 0, 1);
  background-color: #696969;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'yekanbakh', sans-serif;
}

body {
  overflow-x: hidden;
}
